{% extends 'layout/manage.html' %}

{% block css %}
    <style>
        .choose {
            border-left: 2px solid #f90 !important;
        }
    </style>

{% endblock %}

{% block content %}
    <div class="container clearfix" style="margin-top: 20px;">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color: transparent; font-weight: bold;">
                    个人中心
                </div>
                <div class="list-group" style="border-radius: 0;">
                    <div>
                        <a href="#" class="list-group-item">我的资料</a>
                        <a href="#" class="list-group-item">修改密码</a>
                        <a href="{% url 'setting_delete' project_id=request.tracer.project.id %}"
                           class="list-group-item">删除项目</a>
                        <a href="{% url 'setting_add_issues_type' project_id=request.tracer.project.id %}"
                           class="list-group-item choose">创建任务类型</a>
                        <a href="{% url 'setting_add_issues_modular' project_id=request.tracer.project.id %}"
                           class="list-group-item">创建任务模块</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-address-card-o" aria-hidden="true"></i> 创建任务类型</div>
                <div class="panel-body">

                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">任务类型名称</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" placeholder="请输入任务类型名称" name="issues_type_name">
                                <span class="error-msg">{{ error }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-5">
                                <input type="submit" class="btn btn-danger" value="创 建">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}